---
interface Props {
	theme?: "light" | "dark" | "alt";
	classes?: string;
}

const { theme = "dark", classes, ...attrs } = Astro.props;
---

<a class:list={["btn group", classes]} {...attrs}>
	<div class="btn-shadow">
		<div></div>
	</div>

	<div class:list={["btn-text", theme == "dark" && "btn-dark", theme == "light" && "btn-light", theme == "alt" && "btn-alt"]}>
		<slot />
	</div>
</a>
