---
interface Props {
	fullWidth?: boolean;
	classes?: string;
}
const { fullWidth = false, classes, ...attrs } = Astro.props;
---

<div class:list={["mx-auto max-w-[90rem] 2xl:max-w-[96rem] lg:px-12 md:px-8", fullWidth ? "px-0" : "px-5", classes]} {...attrs}>
	<slot />
</div>
