---
interface Props {
	size?: "small" | "medium" | "large";
	classes?: string;
}
const { size = "medium", classes, ...attrs } = Astro.props;
---

<div class:list={["mx-auto px-5 lg:px-12 md:px-8", size == "medium" && "max-w-[90rem] 2xl:max-w-[96rem]", size == "small" && "max-w-[80rem] 2xl:max-w-[86rem]", size == "large" && "max-w-[100rem] 2xl:max-w-[106rem]", classes]} {...attrs}>
	<slot />
</div>
