---
import ButtonLink from "@/components/buttons/ButtonLink";
import Container from "@/components/layout/Container";
---

<footer class:list={["py-20 bg-black text-w-50 md:py-12"]}>
	<Container>
		<div class="lg:flex justify-between block">
			<div class="max-w-full xl:max-w-[22rem] 2xl:max-w-[27rem] mr-0 lg:mr-10 mb-25 lg:mb-0">
				<div class="mb-8 h6">At Atlas Broncos, we specialize in the complete frame-off restoration of Vintage Broncos.</div>

				<ButtonLink arrow={true} light={true}>Get In Touch</ButtonLink>
			</div>

			<div class="min-w-full lg:min-w-[28.5rem]">
				<div class="mb-6 text-xl">(800) 123-4567</div>
				<div class="mb-24 xl:mb-[9.75rem] text-xl">12345 State Street<br />Austin, TX 78746</div>

				<div class="flex space-x-0 lg:space-x-14 xl:space-x-18 flex-wrap lg:flex-nowrap -mt-14 md:mt-0">
					<div class="md:w-1/3 w-1/2 mt-14 lg:mt-0">
						<div class="flex flex-col space-y-3.5">
							<a class="text-w-50 transition-opacity hover:opacity-80" href="index.html">Home</a>
							<a class="text-w-50 transition-opacity hover:opacity-80" href="index.html">Models</a>
							<a class="text-w-50 transition-opacity hover:opacity-80" href="index.html">Process</a>
							<a class="text-w-50 transition-opacity hover:opacity-80" href="index.html">Our Team</a>
						</div>
					</div>

					<div class="md:w-1/3 w-1/2 mt-14 lg:mt-0">
						<div class="flex flex-col space-y-3.5">
							<a class="text-w-50 transition-opacity hover:opacity-80" href="index.html">Terms</a>
							<a class="text-w-50 transition-opacity hover:opacity-80" href="index.html">Privacy</a>
						</div>
					</div>

					<div class="md:w-1/3 w-1/2 mt-14 lg:mt-0">
						<div class="flex flex-col space-y-3.5">
							<a class="text-w-50 transition-opacity hover:opacity-80" href="https://www.facebook.com" target="_blank">Facebook</a>
							<a class="text-w-50 transition-opacity hover:opacity-80" href="https://www.instagram.com" target="_blank">Instagram</a>
							<a class="text-w-50 transition-opacity hover:opacity-80" href="https://twitter.com" target="_blank">Twitter</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="mt-25 lg:-mt-6 text-h5 text-center lg:text-left">© {new Date().getFullYear()} Atlas Broncos. All right reserved.</div>
	</Container>
</footer>
