---
export const prerender = false;

import { actions } from "astro:actions";
import Button from "@/components/buttons/Button";

interface Props {
	shadow?: boolean;
	theme?: "dark" | "light";
	classes?: string;
}
const { shadow = true, theme = "light", classes, ...attrs } = Astro.props;

// content
const result = Astro.getActionResult(actions.contact);
---

<form class:list={[classes, "space-y-8"]} id="form-contact" action={"/contact/success" + actions.contact} method="POST">
	{
		result?.error && (
			<ul class="col-span-2">
				<li class="text-red-500">Unable to send email. Please try again later.</li>
			</ul>
		)
	}

	<div class="space-y-4">
		<div class="flex flex-col w-full">
			<label class="text-sm font-semibold text-white sr-only">Name</label>
			<input type="text" name="name" id="name" class:list={["w-full rounded-lg border border-gray-300 text-sm p-3", shadow && "shadow-2xl"]} placeholder="First Name" required />
		</div>

		<div class="flex flex-col sm:flex-row gap-4">
			<div class="w-full">
				<label class="text-sm font-semibold text-white sr-only">Email</label>
				<input type="email" name="email" id="email" class:list={["w-full rounded-lg border border-gray-300 text-sm p-3", shadow && "shadow-2xl"]} placeholder="Email" required />
			</div>

			<div class="w-full">
				<label class="text-sm font-semibold text-white sr-only">Phone</label>
				<input type="tel" name="phone" id="phone" class:list={["w-full rounded-lg border border-gray-300 text-sm p-3", shadow && "shadow-2xl"]} placeholder="Phone" />
			</div>
		</div>

		<div class="flex flex-col w-full">
			<label class="text-sm font-semibold text-white sr-only">Message</label>
			<textarea name="message" id="message" class:list={["rounded-lg border border-gray-300 h-40 text-sm", shadow && "shadow-2xl"]} placeholder="What can we help you with?"></textarea>
		</div>
	</div>

	<div class="hidden">
		<label for="zip">Zip Code</label>
		<input name="zip" id="zip" class="rounded-lg shadow-2xl border border-gray-300 h-40 text-sm" placeholder="Zip Code" />
	</div>

	<input type="hidden" name="path" id="path" value={Astro.url.pathname} />
	<input type="hidden" name="marketing" id="marketing" value="" />

	<Button theme={theme} type="submit">Contact Us</Button>
</form>
