---
import Container from "@/components/layout/Container";
import Image from "@/components/images/Image";
import Section from "@/components/layout/Section";

const items = [
	{
		image: "https://cdn.cosmicjs.com/980f61a0-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_069.jpg",
		title: "Electric Car <br>Exterior Design",
		subtitle: "Provide information about the electric car charging system, whether it is fast battery charging, inductive charging, or other charging features that make it easier for users.",
	},
	{
		image: "https://cdn.cosmicjs.com/980f61a0-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_069.jpg",
		title: "Electric Car <br>Exterior Design",
		subtitle: "Provide information about the interior design of electric cars, such as luxury, comfort, connectivity features and advanced technologies that provide a unique driving experience",
	},
	{
		image: "https://cdn.cosmicjs.com/980f61a0-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_069.jpg",
		title: "Electric Car <br>Exterior Design",
		subtitle: "Show images and descriptions of electric car exterior designs, such as enhanced aerodynamics, modern LED lights, and futuristic design features.",
	},
];
---

<Section>
	<Container>
		<div class="mb-16 label">Outstanding Exterior Design</div>
		<div class="2xl:mb-30 text-h1 mb-25">A new driving experience <br />with our electric car.</div>

		<div class="2xl:pl-22 2xl:pr-36 px-0">
			{
				items.map((item) => (
					<div class="lg:flex md:mb-10 md:pb-10 border-b border-g-75/25 last:mb-0 last:pb-0 last:border-b-0 block mb-8 pb-8">
						<div class="shrink-0 lg:w-[27rem] w-full mb-8 lg:mb-0">
							<Image class="w-full rounded-2xl md:min-h-[15.625rem] md:object-cover" src={item.image} />
						</div>

						<div class="flex flex-col grow lg:pl-10 lg:py-2 p-0">
							<div class="md:mb-6 text-h2 mb-10" set:html={item.title} />
							<div class="mt-auto text-g-100 lg:text-lg">{item.subtitle}</div>
						</div>
					</div>
				))
			}
		</div>
	</Container>
</Section>
