---
import Button from "@/components/buttons/Button";
import Container from "@/components/layout/Container";
import Section from "@/components/layout/Section";
---

<Section>
	<Container>
		<div class="lg:flex block">
			<div class="mb-12 lg:-mr-12 text-h1 mr-0 text-balance max-w-4xl">Various variants of electric cars from carsova electric cars</div>
		</div>

		<div>
			<div class="md:flex py-6 border-b border-g-75 even:bg-g-50/50 block md:px-0 p-4">
				<div class="shrink-0 xl:w-[28rem] md:px-4 md:w-[20rem] w-full px-0 md:text-black text-gray-100 text-h5 xl:text-body">Output</div>
				<div class="grow md:pr-4 pr-0 font-normal text-xl">200 kW (270 HP)</div>
			</div>
			<div class="md:flex py-6 border-b border-g-75 even:bg-g-50/50 block md:px-0 p-4">
				<div class="shrink-0 xl:w-[28rem] md:px-4 md:w-[20rem] w-full px-0 md:text-black text-gray-100 text-h5 xl:text-body">Torsi</div>
				<div class="grow md:pr-4 pr-0 font-normal text-xl">400 Nm</div>
			</div>
			<div class="md:flex py-6 border-b border-g-75 even:bg-g-50/50 block md:px-0 p-4">
				<div class="shrink-0 xl:w-[28rem] md:px-4 md:w-[20rem] w-full px-0 md:text-black text-gray-100 text-h5 xl:text-body">Acceleration 0-100 km/h</div>
				<div class="grow md:pr-4 pr-0 font-normal text-xl">5 seconds</div>
			</div>
			<div class="md:flex py-6 border-b border-g-75 even:bg-g-50/50 block md:px-0 p-4">
				<div class="shrink-0 xl:w-[28rem] md:px-4 md:w-[20rem] w-full px-0 md:text-black text-gray-100 text-h5 xl:text-body">Battery Type</div>
				<div class="grow md:pr-4 pr-0 font-normal text-xl">Lithium-ion</div>
			</div>
			<div class="md:flex py-6 border-b border-g-75 even:bg-g-50/50 block md:px-0 p-4">
				<div class="shrink-0 xl:w-[28rem] md:px-4 md:w-[20rem] w-full px-0 md:text-black text-gray-100 text-h5 xl:text-body">Capacity</div>
				<div class="grow md:pr-4 pr-0 font-normal text-xl">80 kWh</div>
			</div>
			<div class="md:flex py-6 border-b border-g-75 even:bg-g-50/50 block md:px-0 p-4">
				<div class="shrink-0 xl:w-[28rem] md:px-4 md:w-[20rem] w-full px-0 md:text-black text-gray-100 text-h5 xl:text-body">Range per Full Charge</div>
				<div class="grow md:pr-4 pr-0 font-normal text-xl">400 km (based on WLTP test cycle)</div>
			</div>
			<div class="md:flex py-6 border-b border-g-75 even:bg-g-50/50 block md:px-0 p-4">
				<div class="shrink-0 xl:w-[28rem] md:px-4 md:w-[20rem] w-full px-0 md:text-black text-gray-100 text-h5 xl:text-body">Fast Charging</div>
				<div class="grow md:pr-4 pr-0 font-normal text-xl">Supports fast charging up to 150 kW</div>
			</div>
			<div class="md:flex py-6 border-b border-g-75 even:bg-g-50/50 block md:px-0 p-4">
				<div class="shrink-0 xl:w-[28rem] md:px-4 md:w-[20rem] w-full px-0 md:text-black text-gray-100 text-h5 xl:text-body">Charging Time (80% capacity)</div>
				<div class="grow md:pr-4 pr-0 font-normal text-xl">30 minutes (fast charging)</div>
			</div>
			<div class="md:flex py-6 border-b border-g-75 even:bg-g-50/50 block md:px-0 p-4">
				<div class="shrink-0 xl:w-[28rem] md:px-4 md:w-[20rem] w-full px-0 md:text-black text-gray-100 text-h5 xl:text-body">Household Charging</div>
				<div class="grow md:pr-4 pr-0 font-normal text-xl">Support household charging up to 11 kW</div>
			</div>
		</div>

		<div class="mt-14 text-right lg:mt-8">
			<Button>See More</Button>
		</div>
	</Container>
</Section>
