---
import ButtonLink from "@/components/buttons/ButtonLink";
import Container from "@/components/layout/Container";
import Image from "@/components/images/Image";
import Section from "@/components/layout/Section";

const items = [
	"https://cdn.cosmicjs.com/b4e917d0-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_114.jpg",
	"https://cdn.cosmicjs.com/c7792340-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_132.jpg",
	"https://cdn.cosmicjs.com/b51cd200-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_111.jpg",
	"https://cdn.cosmicjs.com/a94a8b70-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_082.jpg",
	"https://cdn.cosmicjs.com/a8b10a90-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_084.jpg",
	"https://cdn.cosmicjs.com/a80ed720-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_088.jpg",
	"https://cdn.cosmicjs.com/de819770-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_163.jpg",
	"https://cdn.cosmicjs.com/98e80e60-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_062.jpg",
	"https://cdn.cosmicjs.com/636b1fc0-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_017.jpg",
	"https://cdn.cosmicjs.com/8bffc3f0-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_052.jpg",
];
---

<Section classes="overflow-hidden">
	<Container classes="space-y-24">
		<div>
			<div class="label">Atlas Broncos</div>
			<h2 class="text-balance max-w-[16em]">Where passion meets decades of experience</h2>
		</div>

		<div class="grid grid-cols-6 gap-12">
			<div class="space-y-6 col-span-2 flex flex-col h-full justify-between">
				<div class="font-light space-y-4">
					<h3 class="h5">Why Choose Atlas?</h3>
					<p>When you choose Atlas Broncos, you're not just getting a restored Bronco—you're getting a vehicle built with passion, expertise, and an uncompromising attention to detail.</p>
					<p>We take pride in every Bronco we restore, ensuring that it's not only visually stunning but also built to perform at the highest level, whether you're cruising on the highway or exploring rugged trails.</p>
				</div>

				<ButtonLink>Contact Us</ButtonLink>
			</div>

			<div class="w-full col-span-4 overflow-hidden">
				<div class="swiper swiper-driving">
					<div class="swiper-wrapper">
						{
							items.map((i) => (
								<div class="swiper-slide">
									<Image class="rounded-2xl h-auto w-full object-cover" src={i} sizes="20vw" />
								</div>
							))
						}
					</div>
				</div>
			</div>
		</div>
	</Container>
</Section>
