---
import Container from "@/components/layout/Container";
import Image from "@/components/images/Image";
import Section from "@/components/layout/Section";

const items = [
	"https://cdn.cosmicjs.com/b4e917d0-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_114.jpg",
	"https://cdn.cosmicjs.com/c7792340-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_132.jpg",
	"https://cdn.cosmicjs.com/b51cd200-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_111.jpg",
	"https://cdn.cosmicjs.com/a94a8b70-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_082.jpg",
	"https://cdn.cosmicjs.com/a8b10a90-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_084.jpg",
	"https://cdn.cosmicjs.com/a80ed720-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_088.jpg",
	"https://cdn.cosmicjs.com/de819770-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_163.jpg",
	"https://cdn.cosmicjs.com/98e80e60-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_062.jpg",
	"https://cdn.cosmicjs.com/636b1fc0-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_017.jpg",
	"https://cdn.cosmicjs.com/8bffc3f0-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_052.jpg",
];
---

<Section classes="overflow-hidden">
	<Container classes="space-y-24">
		<div class="label">Our Team</div>

		<div class="flex justify-between items-center">
			<div class="max-w-3xl text-balance text-h1">Where passion meets decades of experience</div>
			<div class="text-right max-w-xl text-balance text-gray-500 w-full">
				Our team of experienced professionals brings over 80 years of combined expertise in restoring classic vehicles, and we are passionate about bringing these timeless off-road legends back to life with modern precision and craftsmanship.
			</div>
		</div>

		<div class="w-full">
			<div class="swiper swiper-driving !overflow-visible">
				<div class="swiper-wrapper">
					{
						items.map((i) => (
							<div class="!h-auto swiper-slide">
								<Image class="rounded-2xl h-full w-full object-cover" src={i} />
							</div>
						))
					}
				</div>
			</div>
		</div>
	</Container>
</Section>
