---
import ButtonLink from "@/components/buttons/ButtonLink";
import Container from "@/components/layout/Container";
import Image from "@/components/images/Image";
import Section from "@/components/layout/Section";
---

<div class="md:pb-19">
	<Container>
		<div class="lg:flex xl:mb-32 mb-25 block">
			<div class="text-lg label shrink-0 xl:w-[27.19rem] lg:w-[18rem] w-full lg:mb-0 mb-16">Introduction</div>

			<div class="grow">
				<div class="mb-8 text-h1">Experience the thrill of eco-friendly driving with our electric cars. Powered by the latest technology, our electric cars take you into the future without leaving a carbon footprint.</div>

				<ButtonLink arrow={true}>Read More</ButtonLink>
			</div>
		</div>

		<div class="lg:flex lg:space-x-6 block space-x-0 space-y-6 lg:space-y-0">
			<div class="flex-1">
				<Image src="https://cdn.cosmicjs.com/621309d0-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_015.jpg" class="w-full rounded-2xl md:object-cover h-[70vh] max-h-[700px] min-h-[21.875rem]" />
			</div>

			<div class="flex-1">
				<Image src="https://cdn.cosmicjs.com/8b4637f0-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_054.jpg" class="w-full rounded-2xl md:object-cover h-[70vh] max-h-[700px] min-h-[21.875rem]" />
			</div>
		</div>
	</Container>
</div>
