---
import Image from "@/components/images/Image";
---

<div class="flex justify-between mb-6 md:mb-4">
	<div>The Electrical Carsova - DMG A 80x</div>
	<div class="shrink-0 ml-6">208 - 188 g/km</div>
</div>

<div class="relative rounded-[1.25rem] overflow-hidden before:absolute before:inset-0 before:z-1 before:bg-radial-gradient before:opacity-40">
	<Image src="https://cdn.cosmicjs.com/6286da40-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_014.jpg" class="w-full md:min-h-[33.125rem] md:object-cover" />
</div>
