---
import Image from "@/components/images/Image";
---

<div class="flex justify-between mb-6 md:mb-4">
	<div>Classic #001</div>
	<div class="shrink-0 ml-6 text-sm font-light flex gap-3 items-center">
		<div>Sky Blue</div>
		<div class="text-grayray-400 text-sm">|</div>
		<div>5.0L Coyote</div>
		<div class="text-grayray-400 text-sm">|</div>
		<div>Diamond Leather</div>
	</div>
</div>

<div class="relative grid grid-cols-2 grid-rows-2 gap-4">
	<Image src="https://cdn.cosmicjs.com/a352d5b0-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_093.jpg" pictureClass="row-span-2" class="w-full h-full object-cover rounded-lg" sizes="90vw" />
	<Image src="https://cdn.cosmicjs.com/d2e8fe80-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_146.jpg" class="w-full h-full object-cover rounded-lg" sizes="50vw" />
	<Image src="https://cdn.cosmicjs.com/c72d7440-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_133.jpg" class="w-full h-full object-cover rounded-lg" sizes="50vw" />
</div>
