<div class="space-y-2">
	<div class="text-2xl font-medium">
		<slot name="heading" />
	</div>

	<div class="text-base font-light text-balance text-stone-800">
		<slot name="description" />
	</div>
</div>
