<div class="text-sm font-light text-stone-700 flex flex-col md:flex-row justify-between gap-3 mb-6 md:mb-4">
	<div>Classic #001</div>
	<div class="flex gap-3 items-center">
		<div>Sky Blue</div>
		<div class="text-stone-300">|</div>
		<div>5.0L Coyote</div>
		<div class="text-stone-300">|</div>
		<div>Diamond Leather</div>
	</div>
</div>
