<div class="lg:flex block">
	<div class="label shrink-0 2xl:w-[27.13rem] xl:w-[16rem] lg:w-[12rem] w-full mb-16 mr-0 lg:mb-auto lg:mr-0">About Our Team</div>

	<div class="grow space-y-8">
		<div class="text-h1">We have achieved various significant achievements. From the launch of the first model to industry awards</div>

		<!-- <hr class="bg-gray-200 h-px !border-0" /> -->

		<div class="flex -mt-12 lg:-ml-16 md:-ml-12 -ml-8 md:-mt-10 xl:ml-0 text-lg font-light leading-relaxed">
			With decades of hands-on experience, we've built or restored thousands of vehicles, refining our techniques along the way. Originally, our focus was on Ford retractables, and our team has won numerous awards for excellence in this area.
			In 2020, we decided to channel our skills and passion into restoring Vintage Broncos, giving these classics the attention they deserve. Every restoration is a labor of love, and our reputation for quality has followed us into this new
			chapter of our business.
		</div>
	</div>
</div>
