---
import Image from "@/components/images/Image";
import Container from "@/components/layout/Container";
import Section from "@/components/layout/Section";
---

<div class="overflow-hidden">
	<Container>
		<div class="xl:max-w-[54.25rem] mx-auto lg:max-w-[48rem] max-w-[40rem]">
			<div class="swiper swiper-models !overflow-visible">
				<div class="swiper-wrapper">
					<div class="swiper-slide text-center">
						<div class="relative mb-8 before:absolute before:left-0 before:right-0 before:bottom-0 before:h-5 before:bg-[#111111]/60 before:rounded-[50%] before:blur-[1rem] md:before:h-2 md:before:blur-[.5rem]">
							<Image src="https://cdn.cosmicjs.com/621309d0-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_015.jpg" class="w-full" />
						</div>
					</div>

					<div class="swiper-slide text-center">
						<div class="relative mb-8 before:absolute before:left-0 before:right-0 before:bottom-0 before:h-5 before:bg-[#111111]/60 before:rounded-[50%] before:blur-[1rem] md:before:h-2 md:before:blur-[.5rem]">
							<Image src="https://cdn.cosmicjs.com/a352d5b0-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_093.jpg" class="w-full" />
						</div>
					</div>

					<div class="swiper-slide text-center">
						<div class="relative mb-8 before:absolute before:left-0 before:right-0 before:bottom-0 before:h-5 before:bg-[#111111]/60 before:rounded-[50%] before:blur-[1rem] md:before:h-2 md:before:blur-[.5rem]">
							<Image src="https://cdn.cosmicjs.com/c3905050-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_126.jpg" class="w-full" />
						</div>
					</div>

					<div class="swiper-slide text-center">
						<div class="relative mb-8 before:absolute before:left-0 before:right-0 before:bottom-0 before:h-5 before:bg-[#111111]/60 before:rounded-[50%] before:blur-[1rem] md:before:h-2 md:before:blur-[.5rem]">
							<Image src="https://cdn.cosmicjs.com/c4273920-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_127.jpg" class="w-full" />
						</div>
					</div>

					<div class="swiper-slide text-center">
						<div class="relative mb-8 before:absolute before:left-0 before:right-0 before:bottom-0 before:h-5 before:bg-[#111111]/60 before:rounded-[50%] before:blur-[1rem] md:before:h-2 md:before:blur-[.5rem]">
							<Image src="https://cdn.cosmicjs.com/d2e8fe80-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_146.jpg" class="w-full" />
						</div>
					</div>

					<div class="swiper-slide text-center">
						<div class="relative mb-8 before:absolute before:left-0 before:right-0 before:bottom-0 before:h-5 before:bg-[#111111]/60 before:rounded-[50%] before:blur-[1rem] md:before:h-2 md:before:blur-[.5rem]">
							<Image src="https://cdn.cosmicjs.com/d1481fc0-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_150.jpg" class="w-full" />
						</div>
					</div>

					<div class="swiper-slide text-center">
						<div class="relative mb-8 before:absolute before:left-0 before:right-0 before:bottom-0 before:h-5 before:bg-[#111111]/60 before:rounded-[50%] before:blur-[1rem] md:before:h-2 md:before:blur-[.5rem]">
							<Image src="https://cdn.cosmicjs.com/dd4dd260-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_169.jpg" class="w-full" />
						</div>
					</div>

					<div class="swiper-slide text-center">
						<div class="relative mb-8 before:absolute before:left-0 before:right-0 before:bottom-0 before:h-5 before:bg-[#111111]/60 before:rounded-[50%] before:blur-[1rem] md:before:h-2 md:before:blur-[.5rem]">
							<Image src="https://cdn.cosmicjs.com/dd328230-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_171.jpg" class="w-full" />
						</div>
					</div>
				</div>

				<div class="swiper-pagination"></div>
			</div>
		</div>

		<div class="flex justify-between md:max-w-[31rem] mx-auto md:mt-18 max-w-full mt-16">
			<button class="swiper-button-prev-custom group w-10 h-10 border border-g-75 rounded-full text-0 transition-colors hover:bg-g-500 hover:border-g-500">
				<svg class="inline-block fill-g-500 transition-colors group-hover:fill-w-50" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
					><path
						d="M9.12 5.655l-5.657 5.657a1 1 0 0 0 0 1.414l5.657 5.657a1 1 0 0 0 1.402-.012 1 1 0 0 0 .012-1.402l-3.95-3.95h13.243a1 1 0 0 0 1-1 1 1 0 0 0-1-1H6.584l3.95-3.95a1 1 0 0 0 .305-.711 1 1 0 0 0-.293-.716 1 1 0 0 0-.716-.293 1 1 0 0 0-.711.305z"
					></path></svg
				>
			</button>
			<button class="swiper-button-next-custom group w-10 h-10 border border-g-75 rounded-full text-0 transition-colors hover:bg-g-500 hover:border-g-500">
				<svg class="inline-block fill-g-500 transition-colors group-hover:fill-w-50" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
					><path
						d="M14.877 18.359l5.657-5.657a1 1 0 0 0 0-1.414l-5.657-5.657a1 1 0 0 0-1.402.012 1 1 0 0 0-.012 1.402l3.95 3.95H4.17a1 1 0 0 0-1 1 1 1 0 0 0 1 1h13.243l-3.95 3.95a1 1 0 0 0-.305.711 1 1 0 0 0 .293.716 1 1 0 0 0 .716.293 1 1 0 0 0 .711-.305z"
					></path></svg
				>
			</button>
		</div>
	</Container>
</div>
