---
import Image from "@/components/images/Image";
import Container from "@/components/layout/Container";

const images = [
	"https://cdn.cosmicjs.com/ad51ce60-a12b-11ef-b5a0-93db72e2be98-bronco-isolated_08.png",
	"https://cdn.cosmicjs.com/ad19a760-a12b-11ef-b5a0-93db72e2be98-bronco-isolated_01.png",
	"https://cdn.cosmicjs.com/ad594870-a12b-11ef-b5a0-93db72e2be98-bronco-isolated_02.png",
	"https://cdn.cosmicjs.com/ad548d80-a12b-11ef-b5a0-93db72e2be98-bronco-isolated_03.png",
	"https://cdn.cosmicjs.com/ad3d5c00-a12b-11ef-b5a0-93db72e2be98-bronco-isolated_04.png",
	"https://cdn.cosmicjs.com/ad247cd0-a12b-11ef-b5a0-93db72e2be98-bronco-isolated_05.png",
	"https://cdn.cosmicjs.com/ad44d610-a12b-11ef-b5a0-93db72e2be98-bronco-isolated_06.png",
	"https://cdn.cosmicjs.com/ad37b6b0-a12b-11ef-b5a0-93db72e2be98-bronco-isolated_07.png",
];
---

<div class="overflow-hidden">
	<Container>
		<div class="xl:max-w-[54.25rem] mx-auto lg:max-w-[48rem] max-w-[40rem]">
			<div class="swiper swiper-models !overflow-visible">
				<div class="swiper-wrapper">
					{
						images.map((i) => (
							<div class="swiper-slide text-center">
								<div class="rdelative mb-8">
									<Image src={i} class="w-full" />
								</div>
							</div>
						))
					}
				</div>

				<div class="swiper-pagination"></div>
			</div>
		</div>

		<div class="flex justify-between md:max-w-[31rem] mx-auto md:mt-18 max-w-full mt-16">
			<button class="swiper-button-prev-custom group w-10 h-10 border border-g-75 rounded-full text-0 transition-colors hover:bg-g-500 hover:border-g-500">
				<svg class="inline-block fill-g-500 transition-colors group-hover:fill-w-50" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
					<path
						d="M9.12 5.655l-5.657 5.657a1 1 0 0 0 0 1.414l5.657 5.657a1 1 0 0 0 1.402-.012 1 1 0 0 0 .012-1.402l-3.95-3.95h13.243a1 1 0 0 0 1-1 1 1 0 0 0-1-1H6.584l3.95-3.95a1 1 0 0 0 .305-.711 1 1 0 0 0-.293-.716 1 1 0 0 0-.716-.293 1 1 0 0 0-.711.305z"
					></path>
				</svg>
			</button>

			<button class="swiper-button-next-custom group w-10 h-10 border border-g-75 rounded-full text-0 transition-colors hover:bg-g-500 hover:border-g-500">
				<svg class="inline-block fill-g-500 transition-colors group-hover:fill-w-50" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
					<path
						d="M14.877 18.359l5.657-5.657a1 1 0 0 0 0-1.414l-5.657-5.657a1 1 0 0 0-1.402.012 1 1 0 0 0-.012 1.402l3.95 3.95H4.17a1 1 0 0 0-1 1 1 1 0 0 0 1 1h13.243l-3.95 3.95a1 1 0 0 0-.305.711 1 1 0 0 0 .293.716 1 1 0 0 0 .716.293 1 1 0 0 0 .711-.305z"
					></path>
				</svg>
			</button>
		</div>
	</Container>
</div>
