---
import Container from "@/components/layout/Container";
import Image from "@/components/images/Image";
import Section from "@/components/layout/Section";
---

<Section>
	<Container classes="lg:flex items-center block">
		<div class="grow xl:pr-20 lg:pr-16 lg:mb-0 mb-14 pr-0">
			<div class="mb-12 label">Best work our partner</div>
			<div class="max-w-[35.75rem] text-h1 mb-12 2xl:mb-26">Our partnerships with top equipment manufacturers provide us access to a large selection of hardware options.</div>
			<div class="max-w-[33.25rem] text-gray-100">
				an important collaboration for Carsova Electric Cars as it ensures that we can choose from a wide range of high-quality hardware to support the development and production of our electric cars
			</div>
		</div>

		<div class="shrink-0 xl:w-[35.625rem] lg:w-[30rem] w-full">
			<Image class="w-full rounded-2xl" src="https://cdn.cosmicjs.com/c4b3e8c0-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_123.jpg" />
		</div>
	</Container>
</Section>
