<div class="space-y-2">
	<div class="text-lg font-medium text-white">
		<slot name="heading" />
	</div>

	<div class="text-sm font-light text-balance text-gray-300">
		<slot name="description" />
	</div>
</div>
