---
import Container from "@/components/layout/Container";
import Image from "@/components/images/Image";
import Section from "@/components/layout/Section";
---

<Section>
	<Container>
		<div class="relative flex items-end min-h-[34rem] xl:min-h-[39.69rem] px-5 md:px-12 py-12 xl:py-18 rounded-[2rem] overflow-hidden after:absolute after:inset-0 after:bg-black/60">
			<Image src="https://cdn.cosmicjs.com/c72d7440-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_133.jpg" class="absolute top-0 left-0 w-full h-full object-cover" />

			<div class="relative z-3 block lg:flex">
				<div class="shrink-0 2xl:w-[35.625rem] text-h1 text-w-50 xl:w-[30rem] lg:w-[24rem] w-full mb-4 lg:mb-0">Get the best driving experience with carsova electric cars.</div>

				<div class="grow pl-0 lg:pl-30 xl:pl-12">
					<div class="mb-8 text-w-50">
						Immediately discover unlimited driving freedom, and enjoy your journey with the best style and performance. Carsova Electric Cars, provides more than just a car, but an unforgettable driving experience
					</div>

					<form class="flex max-w-[22.875rem] p-1.5 bg-g-500 rounded-full">
						<input class="grow h-11 bg-white px-3 rounded-full outline-none font-normal text-gray-500 placeholder:text-gray-75" type="email" name="subscription" placeholder="Email Address" required />

						<button class="group shrink-0 w-11 h-11 ml-2 bg-white rounded-full text-0">
							<svg class="inline-block transition-colors group-hover:fill-g-200" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
								<path
									d="M14.877 18.359l5.657-5.657a1 1 0 0 0 0-1.414l-5.657-5.657a1 1 0 0 0-1.402.012 1 1 0 0 0-.012 1.402l3.95 3.95H4.17a1 1 0 0 0-1 1 1 1 0 0 0 1 1h13.243l-3.95 3.95a1 1 0 0 0-.305.711 1 1 0 0 0 .293.716 1 1 0 0 0 .716.293 1 1 0 0 0 .711-.305z"
								></path>
							</svg>
						</button>
					</form>
				</div>
			</div>
		</div>
	</Container>
</Section>
