---
import ButtonLink from "@/components/buttons/Button";
import Container from "@/components/layout/Container";
import Image from "@/components/images/Image";
import Section from "@/components/layout/Section";
---

<Section>
	<Container>
		<div class="flex lg:items-center flex-col-reverse lg:flex-row items-stretch">
			<div class="shrink-0 2xl:w-[35.625rem] xl:w-[32rem] lg:w-[28rem] w-full">
				<Image src="https://cdn.cosmicjs.com/c70cf3f0-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_130.jpg" class="w-full rounded-2xl" />
			</div>

			<div class="grow 2xl:pl-25 lg:pl-16 lg:mb-0 mb-14 pl-0">
				<div class="2xl:mb-20 label mb-12">Features and Technology</div>
				<div class="2xl:mb-14 text-h1 mb-8">Presenting Advanced Technology for the Driving Experience of the Future</div>
				<div class="mb-4 text-h5">Real-time monitoring</div>
				<div class="lg:mb-14 text-gray-100 mb-8">
					Our electric cars not only deliver environmentally friendly transportation solutions, but also bring an amazing driving experience through cutting-edge features. From super-fast charging to smart device integration,
				</div>

				<ButtonLink arrow={true}>Read More</ButtonLink>
			</div>
		</div>
	</Container>
</Section>
