---
import BaseLayout from "@/layouts/BaseLayout";
import ContactForm from "@/components/sections/ContactForm";
import Container from "@/components/layout/Container";
import Section from "@/components/layout/Section";
---

<BaseLayout contactForm={false} marginBottom={true}>
	<Section>
		<Container>
			<div class="w-1/2 mx-auto space-y-6">
				<h1 class="mb-4">Let's Chat!</h1>

				<div class="font-light text-gray-700">
					Ready to bring your vintage Bronco dream to life? Contact us today to discuss your restoration project. Our team is here to guide you through every step of the process, ensuring your Bronco is restored to its full potential.
				</div>

				<ContactForm />
			</div>
		</Container>
	</Section>
</BaseLayout>
