---
import BaseLayout from "@/layouts/BaseLayout";
import Design from "@/components/sections/Design";
import Driving from "@/components/sections/Driving";
import FeatureBackground from "@/components/sections/FeatureBackground";
import HeadingIntroduction from "@/components/sections/HeadingIntroduction";
import Partners from "@/components/sections/Partners";
import Performance from "@/components/sections/Performance";
import Section from "@/components/layout/Section";
import Subscribe from "@/components/sections/Subscribe";
import Technology from "@/components/sections/Technology";
---

<BaseLayout transparentHeader={true}>
	<FeatureBackground />

	<Section size="sm">
		<HeadingIntroduction />
	</Section>

	<Design />

	<Performance />

	<Technology />

	<Driving />

	<Partners />

	<Subscribe />
</BaseLayout>
