---
import BaseLayout from "@/layouts/BaseLayout";
import Container from "@/components/layout/Container";
import Driving from "@/components/sections/Driving";
import HeadingBase from "@/components/sections/HeadingBase";
import ImageCaption from "@/components/sections/ImageCaption";
import Section from "@/components/layout/Section";
---

<BaseLayout>
	<Section size="sm">
		<Container>
			<HeadingBase>
				<h1 class="mb-4">At Atlas Broncos, we specialize in frame-off, Vintage Bronco restorations.</h1>
				<div class="text-2xl font-light leading-normal">
					Our team of experienced professionals brings over 80 years of combined expertise in restoring classic vehicles, and we are passionate about bringing these timeless off-road legends back to life with modern precision and
					craftsmanship.
				</div>
			</HeadingBase>
		</Container>
	</Section>

	<Container>
		<ImageCaption />
	</Container>

	<Driving />
</BaseLayout>
