---
import BaseLayout from "@/layouts/BaseLayout";
import ButtonLink from "@/components/buttons/ButtonLink";
import Container from "@/components/layout/Container";
import Image from "@/components/images/Image";
import Padding from "@/components/layout/Padding";
import LargeHeading from "@/components/sections/text/LargeHeading";
import Metadata from "@/components/sections/Metadata";
import Paragraph from "@/components/sections/text/Paragraph";
import Section from "@/components/layout/Section";

const items = ["https://cdn.cosmicjs.com/d0cbd3c0-4c7c-11f0-8d02-d7de9448d6b1-R5C_6792.jpg", "https://cdn.cosmicjs.com/f52e18e0-4c7c-11f0-8d02-d7de9448d6b1-R5C_7715.jpg", "https://cdn.cosmicjs.com/e30ea990-4c7c-11f0-8d02-d7de9448d6b1-R5C_7357.jpg"];
const items2 = ["", ""];
const images = [
	"https://cdn.cosmicjs.com/f48d4500-4c7c-11f0-8d02-d7de9448d6b1-R5C_7804.jpg",
	"https://cdn.cosmicjs.com/f4c93c90-4c7c-11f0-8d02-d7de9448d6b1-R5C_7873.jpg",
	"https://cdn.cosmicjs.com/bca10410-4c7c-11f0-8d02-d7de9448d6b1-R5C_6746.jpg",
	"https://cdn.cosmicjs.com/c8a2e620-4c7c-11f0-8d02-d7de9448d6b1-R5C_6932.jpg",
	"https://cdn.cosmicjs.com/c98d1f10-4c7c-11f0-8d02-d7de9448d6b1-R5C_6851.jpg",
	"https://cdn.cosmicjs.com/c21cd310-4c7c-11f0-8d02-d7de9448d6b1-R5C_8190.jpg",
];

const team = [
	"https://cdn.cosmicjs.com/c77e0540-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_131.jpg",
	"https://cdn.cosmicjs.com/cd6724f0-4c7c-11f0-8d02-d7de9448d6b1-R5C_6738.jpg",
	"https://cdn.cosmicjs.com/cdf6bac0-4c7c-11f0-8d02-d7de9448d6b1-R5C_6730.jpg",
	"https://cdn.cosmicjs.com/98a64a70-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_070.jpg",
	"https://cdn.cosmicjs.com/ce240c50-4c7c-11f0-8d02-d7de9448d6b1-R5C_7255.jpg",
	"https://cdn.cosmicjs.com/efc053a0-4c7c-11f0-8d02-d7de9448d6b1-R5C_7339.jpg",
	"https://cdn.cosmicjs.com/f0874d20-4c7c-11f0-8d02-d7de9448d6b1-R5C_7392.jpg",
	"https://cdn.cosmicjs.com/f45e1eb0-4c7c-11f0-8d02-d7de9448d6b1-R5C_7291.jpg",
	"https://cdn.cosmicjs.com/7817f0b0-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_022.jpg",
	"https://cdn.cosmicjs.com/bf6b95c0-4c7c-11f0-8d02-d7de9448d6b1-R5C_6989.jpg",
	"https://cdn.cosmicjs.com/c22dc300-4c7c-11f0-8d02-d7de9448d6b1-R5C_8279.jpg",
	"https://cdn.cosmicjs.com/c3a85510-4c7c-11f0-8d02-d7de9448d6b1-R5C_6999.jpg",
];
---

<BaseLayout bgColor="bg-stone-100" marginTop={false} marginBottom={true}>
	<Container size="medium" classes="mt-32 mb-32">
		<div class="grid grid-cols-12">
			<div class="col-span-3 flex justify-between flex-col">
				<p class="text-balance">Each Atlas Bronco is restored with precision and care, combining vintage aesthetics with modern technology for a driving experience unlike any other.</p>
				<p class="text-base">Ready to Build? <a href="/contact" class="font-bold">Get started &gt;</a></p>
			</div>

			<h1 class="col-span-8 col-start-5">At Atlas Broncos, we specialize in <span>frame-off, Vintage Bronco restorations.</span></h1>
		</div>
	</Container>

	<Container size="large">
		<div class="h-[40vh] min-h-[400px] grid grid-cols-3 grid-rows-2 gap-10">
			<Image src="https://cdn.cosmicjs.com/f52e18e0-4c7c-11f0-8d02-d7de9448d6b1-R5C_7715.jpg" pictureClass="col-span-2 row-span-2" class="w-full h-full object-cover object-right" sizes="70vw" />
			<Image src="https://cdn.cosmicjs.com/e4e1bbe0-4c7c-11f0-8d02-d7de9448d6b1-R5C_6912.jpg" pictureClass="col-start-3" class="object-cover w-full h-full" sizes="30vw" />
			<Image src="https://cdn.cosmicjs.com/c22dc300-4c7c-11f0-8d02-d7de9448d6b1-R5C_8279.jpg" pictureClass="col-start-3" class="object-cover w-full h-full" sizes="30vw" />
		</div>
	</Container>

	<Container classes="mt-32 mb-32">
		<div class="grid grid-cols-12">
			<h2 class="text-balance !text-stone-900 col-span-6">Where passion meets <span>decades of experience</span></h2>

			<div class="col-start-8 col-span-4 space-y-8">
				<Paragraph classes="text-stone-900 text-xl">
					Our team of experienced professionals brings over 80 years of combined expertise in restoring classic vehicles, and we are passionate about bringing these timeless off-road legends back to life with modern precision and
					craftsmanship.
				</Paragraph>

				<a href="/team" class="text-stone-950 text-lg font-bold">Meet Our Team &gt;</a>
			</div>
		</div>
	</Container>

	<Container size="large">
		<div class="h-[40vh] min-h-[400px] grid grid-cols-3 grid-rows-2 gap-10">
			<Image src="https://cdn.cosmicjs.com/c709e6b0-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_137.jpg" class="object-cover w-full h-full" sizes="30vw" />
			<Image src="https://cdn.cosmicjs.com/c3a69770-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_122.jpg" pictureClass="col-start-2 col-span-2 row-span-2" class="w-full h-full object-cover object-[40%]" sizes="70vw" />
			<Image src="https://cdn.cosmicjs.com/a861b210-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_083.jpg" class="object-cover w-full h-full" sizes="30vw" />
		</div>
	</Container>

	<Container classes="mt-32 mb-32">
		<div class="grid grid-cols-12">
			<div class="flex flex-col justify-between col-span-4">
				<h2 class="text-balance">Why Choose <span>Atlas Broncos</span>?</h2>
				<ButtonLink>Meet Our Team</ButtonLink>
			</div>

			<div class="col-start-8 col-span-4 space-y-8">
				<Paragraph classes="text-stone-900 text-xl">When you choose Atlas Broncos, you're not just getting a restored Bronco—you're getting a vehicle built with passion, expertise, and an uncompromising attention to detail.</Paragraph>
				<Paragraph classes="text-stone-900 text-xl">
					We take pride in every Bronco we restore, ensuring that it's not only visually stunning but also built to perform at the highest level, whether you're cruising on the highway or exploring rugged trails.
				</Paragraph>
			</div>
		</div>
	</Container>
</BaseLayout>
