---
import BaseLayout from "@/layouts/BaseLayout";
import Container from "@/components/layout/Container";
import Driving from "@/components/sections/Driving";
import HeadingBase from "@/components/sections/HeadingBase";
import ImageCaption from "@/components/sections/ImageCaption";
import Section from "@/components/layout/Section";
---

<BaseLayout>
	<Section size="sm">
		<Container>
			<HeadingBase>At Atlas Broncos, we specialize in frame-off, Vintage Bronco restorations.</HeadingBase>
		</Container>
	</Section>

	<Container>
		<ImageCaption />
	</Container>

	<Driving />
</BaseLayout>
