---
import BaseLayout from "@/layouts/BaseLayout";
import ButtonLink from "@/components/buttons/ButtonLink";
import Container from "@/components/layout/Container";
import HeadingBase from "@/components/sections/HeadingBase";
import Image from "@/components/images/Image";
import Section from "@/components/layout/Section";

const items = [
	"https://cdn.cosmicjs.com/a8b10a90-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_084.jpg",
	"https://cdn.cosmicjs.com/8bffc3f0-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_052.jpg",
	"https://cdn.cosmicjs.com/c7792340-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_132.jpg",
];
---

<BaseLayout>
	<Section>
		<Container>
			<HeadingBase>
				<h1 class="mb-4">At Atlas Broncos, we specialize in frame-off, Vintage Bronco restorations.</h1>
				<div class="text-2xl font-light leading-normal">
					Our team of experienced professionals brings over 80 years of combined expertise in restoring classic vehicles, and we are passionate about bringing these timeless off-road legends back to life with modern precision and
					craftsmanship.
				</div>
			</HeadingBase>
		</Container>

		<Container>
			<div class="flex justify-between mb-6 md:mb-4">
				<div>Classic #001</div>
				<div class="shrink-0 ml-6 text-sm font-light flex gap-3 items-center">
					<div>Sky Blue</div>
					<div class="text-grayray-400 text-sm">|</div>
					<div>5.0L Coyote</div>
					<div class="text-grayray-400 text-sm">|</div>
					<div>Diamond Leather</div>
				</div>
			</div>

			<div class="relative grid grid-cols-2 grid-rows-2 gap-6">
				<Image src="https://cdn.cosmicjs.com/a352d5b0-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_093.jpg" pictureClass="row-span-2" class="w-full h-full object-cover rounded-lg shadow-2xl" sizes="90vw" />
				<Image src="https://cdn.cosmicjs.com/d2e8fe80-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_146.jpg" class="w-full h-full object-cover rounded-lg shadow-2xl" sizes="50vw" />
				<Image src="https://cdn.cosmicjs.com/c72d7440-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_133.jpg" class="w-full h-full object-cover rounded-lg shadow-2xl" sizes="50vw" />
			</div>
		</Container>

		<Section classes="overflow-hidden">
			<Container classes="space-y-24">
				<div class="space-y-4">
					<div class="label uppercase">Atlas Broncos</div>
					<h2 class="text-balance max-w-[16em]">Where passion meets decades of experience</h2>
				</div>

				<div class="grid grid-cols-6 gap-12">
					<div class="space-y-6 col-span-2 flex flex-col h-full justify-between">
						<div class="font-light space-y-4">
							<h3 class="h5">Why Choose Atlas?</h3>
							<p>When you choose Atlas Broncos, you're not just getting a restored Bronco—you're getting a vehicle built with passion, expertise, and an uncompromising attention to detail.</p>
							<p>We take pride in every Bronco we restore, ensuring that it's not only visually stunning but also built to perform at the highest level, whether you're cruising on the highway or exploring rugged trails.</p>
						</div>

						<ButtonLink>Contact Us</ButtonLink>
					</div>

					<div class="w-full col-span-4">
						<div class="grid grid-cols-3 gap-6">
							{items.map((i) => <Image class="rounded-2xl h-auto w-full object-cover shadow-2xl" src={i} sizes="20vw" />)}
						</div>
					</div>
				</div>
			</Container>
		</Section>
	</Section>
</BaseLayout>
