---
import BaseLayout from "@/layouts/BaseLayout";
import Container from "@/components/layout/Container";
import Image from "@/components/images/Image";
import Padding from "@/components/layout/Padding";
import Paragraph from "@/components/sections/text/Paragraph";
import Section from "@/components/layout/Section";
---

<BaseLayout
	title="Atlas Broncos | Hand-Built Frame-Off Vintage Ford Bronco Restorations"
	description="We restore your vintage Ford Bronco with its original frame & body, new Coyote 5.0 / 10-speed combo, premium leather, disc brakes & modern luxury."
>
	<Padding>
		<Section>
			<Container size="medium">
				<div class="grid grid-cols-12 gap-y-8 md:gap-y-0">
					<div class="col-span-12 md:col-span-3 flex justify-between flex-col gap-y-8">
						<p class="text-balance">Each Atlas Bronco is restored with precision and care, combining vintage aesthetics with modern technology for a driving experience unlike any other.</p>
						<div class="text-base inline-flex md:flex md:flex-col lg:inline-flex lg:flex-row gap-x-1">
							<div>Ready to Build?</div>
							<div><a href="/contact" class="font-bold">Get started &gt;</a></div>
						</div>
					</div>

					<h1 class="order-first md:order-last col-span-12 md:col-span-8 md:col-start-5">At Atlas Broncos, we specialize in <span>frame-off, first-generation Ford Bronco restorations.</span></h1>
				</div>
			</Container>

			<Container size="large">
				<video width="2560" height="1440" controls class="w-full h-auto rounded shadow-2xl" autoplay muted loop>
					<source src="https://cdn.cosmicjs.com/89d78800-d45f-11ef-bee4-3bb1d3c55332-blue_bronco_hero_v05-1440p.mp4" type="video/mp4" />
					Your browser does not support the video tag.
				</video>
			</Container>

			<!-- <Container size="large">
				<div class="md:h-[40vh] md:min-h-[700px] grid grid-cols-12 md:grid-rows-2 gap-4 md:gap-6">
					<Image
						src="https://cdn.cosmicjs.com/f52e18e0-4c7c-11f0-8d02-d7de9448d6b1-R5C_7715.jpg"
						pictureClass="col-span-12 lg:col-span-9 lg:row-span-2"
						class="w-full h-full object-cover lg:object-left"
						sizes="(min-width: 1024px) 70vw, 90vw"
						fetchpriority="high"
						lazy={false}
					/>
					<Image
						src="https://cdn.cosmicjs.com/f2045030-4c7c-11f0-8d02-d7de9448d6b1-R5C_8020.jpg"
						pictureClass="col-span-12 sm:col-span-6 lg:col-span-3 lg:col-start-10"
						class="md:object-left object-cover w-full h-full"
						sizes="(min-width: 1024px) 25vw, (min-width: 640px) 40vw, 90vw"
					/>
					<Image
						src="https://cdn.cosmicjs.com/c22dc300-4c7c-11f0-8d02-d7de9448d6b1-R5C_8279.jpg"
						pictureClass="col-span-12 sm:col-span-6 lg:col-span-3 lg:col-start-10"
						class="object-cover w-full h-full lg:object-right"
						sizes="(min-width: 1024px) 25vw, (min-width: 640px) 40vw, 90vw"
					/>
				</div>
			</Container> -->

			<Container>
				<div class="grid grid-cols-12 gap-y-8 md:gap-y-0">
					<h2 class="text-balance col-span-12 md:col-span-6">Where passion meets <span>decades of experience</span></h2>

					<div class="col-span-12 md:col-start-8 md:col-span-4 space-y-8">
						<Paragraph classes="text-stone-900 text-lg">
							Our team of experienced professionals brings over 80 years of combined expertise in restoring classic vehicles, and we are passionate about bringing these timeless off-road legends back to life with modern precision and
							craftsmanship.
						</Paragraph>

						<a href="/team" class="text-stone-950 text-lg font-bold">Meet Our Team &gt;</a>
					</div>
				</div>
			</Container>

			<Container size="large">
				<div class="md:h-[40vh] md:min-h-[700px] grid grid-cols-12 md:grid-rows-2 gap-4 md:gap-6">
					<Image
						src="https://cdn.cosmicjs.com/c709e6b0-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_137.jpg"
						pictureClass="col-span-12 lg:col-span-3"
						class="object-cover w-full h-full"
						sizes="(min-width: 1024px) 20vw, (min-width: 640px) 40vw, 90vw"
					/>
					<Image
						src="https://cdn.cosmicjs.com/c3a69770-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_122.jpg"
						pictureClass="col-span-12 sm:col-span-6 lg:col-span-9 lg:row-span-2"
						class="w-full h-full object-cover md:object-[30%]"
						sizes="(min-width: 1024px) 70vw, 90vw"
					/>
					<Image
						src="https://cdn.cosmicjs.com/a861b210-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_083.jpg"
						pictureClass="col-span-12 sm:col-span-6 lg:col-span-3"
						class="object-cover w-full h-full"
						sizes="(min-width: 1024px) 20vw, (min-width: 640px) 40vw, 90vw"
					/>
				</div>
			</Container>

			<Container>
				<div class="grid grid-cols-12 gap-y-8 sm:gap-y-0">
					<h2 class="text-balance w-3/4 sm:w-full col-span-12 sm:col-span-6">Why Choose <span>Atlas Broncos</span>?</h2>

					<div class="col-span-12 sm:col-start-8 sm:col-span-4 space-y-8">
						<Paragraph classes="text-stone-900 text-lg">When you choose Atlas Broncos, you're not just getting a restored Bronco—you're getting a vehicle built with passion, expertise, and an uncompromising attention to detail.</Paragraph
						>
						<Paragraph classes="text-stone-900 text-lg">
							We take pride in every Bronco we restore, ensuring that it's not only visually stunning but also built to perform at the highest level, whether you're cruising on the highway or exploring rugged trails.
						</Paragraph>

						<a href="/contact" class="text-stone-950 text-lg font-bold">Let's Chat! &gt;</a>
					</div>
				</div>
			</Container>
		</Section>
	</Padding>
</BaseLayout>
