---
import BaseLayout from "@/layouts/BaseLayout";
import Container from "@/components/layout/Container";
import HeadingBase from "@/components/sections/HeadingBase";
import ModelCarousel from "@/components/sections/ModelCarousel";
import Section from "@/components/layout/Section";
---

<BaseLayout>
	<Section>
		<Container>
			<HeadingBase>The Broncos we restore are more than just vehicles—they're pieces of American automotive history.</HeadingBase>
		</Container>

		<ModelCarousel />
	</Section>
</BaseLayout>
