---
import BaseLayout from "@/layouts/BaseLayout";
import Container from "@/components/layout/Container";
import Details from "@/components/sections/Details";
import Section from "@/components/layout/Section";
import HeadingBase from "@/components/sections/HeadingBase";
import ImageCaption from "@/components/sections/ImageCaption";
import ModelCarousel from "@/components/sections/ModelCarousel";
---

<BaseLayout transparentHeader={false}>
	<Section size="sm">
		<Container>
			<HeadingBase> The amazing experience of the newest model of carsova electric cars. </HeadingBase>
		</Container>
	</Section>

	<Container>
		<ImageCaption />
	</Container>

	<ModelCarousel />

	<Details />
</BaseLayout>
