---
import BaseLayout from "@/layouts/BaseLayout";
import Container from "@/components/layout/Container";
import HeadingBase from "@/components/sections/HeadingBase";
import Section from "@/components/layout/Section";

const images = [
	"https://imgix.cosmicjs.com/e886c5a0-c983-11ef-bee4-3bb1d3c55332-jack-finnigan-rriAI0nhcbc-unsplash.jpg",
	"https://imgix.cosmicjs.com/e9280eb0-c983-11ef-bee4-3bb1d3c55332-cherry-laithang-tLxQhu4qkjg-unsplash.jpg",
	"https://imgix.cosmicjs.com/e9612010-c983-11ef-bee4-3bb1d3c55332-robert-godwin-cdksyTqEXzo-unsplash.jpg",
];
const team = [
	{
		title: "Experience",
		content: "Our team collectively boasts over 180 years of experience in automotive restoration.",
	},
	{
		title: "Heritage",
		content: "Having restored thousands of classic vehicles, we are proud of our rich history in the industry.",
	},
	{
		title: "Awards",
		content: "We've been recognized for our work on Ford retractables, earning several prestigious awards.",
	},
	{
		title: "Transition",
		content: "In 2020, we shifted our focus to Vintage Broncos, bringing our passion and expertise to the restoration of these iconic vehicles.",
	},
];
---

<BaseLayout>
	<Section>
		<Container>
			<HeadingBase>
				<h1>Our team is composed of experts who share a deep passion for vintage vehicles, particularly the Ford Bronco.</h1>
			</HeadingBase>
		</Container>

		<Container>
			<div class="grid grid-cols-3 gap-8">
				{
					images.map((i) => (
						<div class="flex flex-col space-y-4">
							<img src={i} class="w-full rounded-2xl object-cover h-[650px]" />

							<div class="flex flex-col justify-center items-center">
								<div class="font-semibold">John Smith</div>
								<div class="text-sm">CEO</div>
							</div>
						</div>
					))
				}
			</div>
		</Container>

		<Container>
			<div class="lg:flex block">
				<div class="label shrink-0 2xl:w-[27.13rem] xl:w-[16rem] lg:w-[12rem] w-full mb-16 mr-0 lg:mb-auto lg:mr-0">About Our Team</div>

				<div class="grow space-y-8">
					<h2 class="h3">With decades of hands-on experience, we've built or restored thousands of vehicles, refining our techniques along the way.</h2>

					<div class="flex -mt-12 lg:-ml-16 md:-ml-12 -ml-8 md:-mt-10 xl:ml-0 text-lg font-light leading-relaxed">
						Originally, our focus was on Ford retractables, and our team has won numerous awards for excellence in this area. In 2020, we decided to channel our skills and passion into restoring Vintage Broncos, giving these classics the
						attention they deserve. Every restoration is a labor of love, and our reputation for quality has followed us into this new chapter of our business.
					</div>

					<div class="grid grid-cols-2 gap-8">
						{
							team.map((t) => (
								<div class="space-y-4 p-6 border border-black/20 rounded">
									<div class="text-xl font-medium">{t.title}</div>
									<div class="font-light text-balance">{t.content}</div>
								</div>
							))
						}
					</div>
				</div>
			</div>
		</Container>
	</Section>
</BaseLayout>
