@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@import "./typography";
@import "./buttons";
@import "./forms.css";

@theme inline {
    --font-sans: var(--font-manrope);
	--font-heading: var(--font-firasans);
}

html {
	@apply 2xl:text-[calc(1rem+.15vw)] text-[calc(1rem+.1vw)]
}
body {
	@apply font-sans text-black antialiased
}

.is-pinned {
	@apply bg-black/80 py-4 transition-all duration-300 ease-in-out;
}

/* alpinejs hide */
[x-cloak] {
	display: none !important;
}