h1, h2, h3, h4, h5, h6 {
	@apply font-inter-tight leading-snug xl:leading-tight;
}
h1, .h1 { @apply text-[2.2rem] md:text-[2.6rem] lg:text-[3rem] xl:text-[4rem] font-medium }
h2, .h2 { @apply text-[1.9rem] md:text-[2.2rem] lg:text-[2.6rem] xl:text-[3.5rem] font-medium }
h3, .h3 { @apply text-[1.7rem] md:text-[2rem] lg:text-[2.3rem] xl:text-[3rem] font-medium }
h4, .h4 { @apply xl:text-[2.5rem] font-medium text-[1.5rem] }
h5, .h5 { @apply xl:text-[2rem] font-medium text-[1.35rem] }
h6, .h6 { @apply xl:text-[1.25rem] xl:leading-[1.6rem] text-[1.2rem]}

.label {
	@apply text-gray-500 text-sm tracking-widest uppercase font-semibold;
}