---
import "/src/assets/styles/_base.css";
import "bigger-picture/css";
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";

import BaseHead from "@/components/layout/BaseHead";
import ContactForm from "@/components/sections/ContactForm";
import Container from "@/components/layout/Container";
import Button from "@/components/buttons/Button";
import Header from "@/components/layout/Header";
import Footer from "@/components/layout/Footer";
import Section from "@/components/layout/Section";

// props
export interface Props {
	title?: string;
	description?: string;
	contactForm?: boolean;
	transparentHeader?: boolean;
	marginTop?: boolean;
	marginBottom?: boolean;
	footerPadding?: boolean;
}

const { title, description, contactForm = true, transparentHeader = false, marginTop = true, marginBottom = true, footerPadding = true } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="min-h-screen bg-[radial-gradient(80vw_circle_at_top_center,_rgba(224,242,254,1),_transparent)]">
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5W2NH2T7" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

		<Header headerLight={transparentHeader ? true : false} />

		<main class:list={["bg-[radial-gradient(80vw_circle_at_bottom_left,_rgba(224,242,254,1),_transparent)]", marginTop && "pt-32", marginBottom && "pb-32"]}>
			<slot />

			{
				contactForm && (
					<div class="mt-32">
						<Section>
							{footerPadding && <hr class="hidden lg:block" />}

							<Container>
								<div class="h1 tracking-tight mb-8">Ready to Get Started?</div>

								<div class="grid grid-cols-6 gap-12">
									<div class="col-span-6 lg:col-span-3 order-1 lg:order-2 space-y-8">
										<div class="font-light text-gray-700 leading-relaxed">
											Ready to bring your vintage Bronco dream to life? Contact us today to discuss your restoration project. Our team is here to guide you through every step of the process, ensuring your Bronco is restored to
											its full potential.
										</div>

										<div class="grid grid-cols-2 gap-6">
											<div class="flex flex-col gap-1">
												<div class="text-lg font-medium">Call Us</div>
												<div class="font-light">(512) 560-2474</div>
											</div>

											<div class="flex flex-col gap-1">
												<div class="text-lg font-medium">Visit Us</div>
												<div class="font-light">(512) 560-2474</div>
											</div>
										</div>
									</div>

									<ContactForm />
								</div>
							</Container>
						</Section>
					</div>
				)
			}
		</main>

		<Footer />

		<script>
			// modal
			import BiggerPicture from "bigger-picture";

			let bp = BiggerPicture({
				target: document.body,
			});

			// open (will be a child of the target element above)
			let imageLinks = document.querySelectorAll(`.gallery img`);

			// add click listener to open BiggerPicture
			for (let link of imageLinks) {
				link.addEventListener("click", openGallery);
			}

			// function to open BiggerPicture
			function openGallery(e) {
				e.preventDefault();
				bp.open({
					items: imageLinks,
					el: e.currentTarget,
					scale: 0.8,
				});
			}
		</script>
	</body>
</html>
